extend /_template/ja/_default
append variables
  //- 変更可能
  - var pageTitle= "使い方メモ";
  - var pageDescription= ja.site.description;
  - var pageKeywords= ja.site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= ja.site.ogpImage;
  - var pageOgpType= "website";

block content
  main
    hr
    p -------------------------
    p ここはbodyの中のmainですね
    p やはり、そのとおりでした
    p -------------------------
    hr

    p え?
    br
    details
      summary さて、ここには何が書いてあるでしょう
      p こんなこと
      p あんなこと
      p(style={color:'red'}) そして...次回のお楽しみ
    br
